.hide-search-button {
    visibility: visible;
    width: 100%;
    background-color: #402d5c;
    color: whitesmoke;
    font-weight: 600;
    height: 35px;
    border: 2px solid whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.img-down {
    width: 40%;
    margin: 1%;
    float: left;
}

tr:nth-child(even) {
    background-color: #987dbf;
}

.room-description {
    color: #e4d6ff;
}

input[type=text], input[type=password] {
    width: auto;
    padding: 0;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: initial;
}

.money {

}

.room-parameters {
    /*float: right;*/
    /*margin-left: 50%;*/
    /*margin-right: 3%;*/
}

.search-button {
    background-color: #402d5c;
    color: whitesmoke;
    font-weight: 600;
    height: 35px;
    border: 2px solid whitesmoke;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

.down-pagination {
    margin: 20px 0;
    padding: 0;
    color: #fff;
    word-spacing: -.5px;
    border-radius: 6px;
    text-align: center;
}

.search-down {
    display: none;
    width: 100%;
    background: #887ebe;
}



.criteria {
    margin: 0 0.5% 0.5% 0;
    padding: 0.5%;
}

.room-hotel {
    margin: 5vh;
    padding: 5vh;
    background: #785eae;
    border-radius: 10vh;
}
