
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

li {
    float: left;
    margin-right: 5px;
}

table {
    background-color: #fff;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd
}

th {
    background-color: #999999;
    color: white;
}